@model SdmViewModel
<div class="panel panel-default">
    <div class="panel-heading">Abertos</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Conector SDM
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Tipo do Status
                    </th>
                    <th>
                        Opções
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SdmStatus)
                {
                    @if (item.StatusType == StatusTypes.Aberto)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SdmConector.Identificador)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusType)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="SdmStatus" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Editar</a> |
                                <a asp-action="Delete" asp-controller="SdmStatus" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Excluir</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
                </table>
            </div>
        </div>
