@model O2OUI.Models.SdmStatus

@{
    ViewData["Title"] = "Atualizar" + Model.SdmConector.Nome;
}

<h1>@Model.SdmConector.Nome</h1>

<div>
    <h4>SdmConector</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SdmConector.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SdmConector.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SdmConector.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SdmConector.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SdmConector.Identificador)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(x => x.SdmConector.Id)
                </td>
                <td>
                    @Html.DisplayFor(x => x.SdmConector.Nome)
                </td>
                <td>
                    @Html.DisplayFor(x => x.SdmConector.Url)
                </td>
                <td>
                    @Html.DisplayFor(x => x.SdmConector.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(x => x.SdmConector.Identificador)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model." asp-controller="SdmConectors">Edit</a> |
                    <a class="btn btn-outline-danger btn-sm" onclick="ExibirModal(@Model.SdmConector.Id, '@Model.SdmConector.Identificador')">Tickets</a> |
                    <a asp-action="Index" asp-controller="SdmConectors">Back to List</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Tickets</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SdmConector.Identificador)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StatusType)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.IdSdm == Model.SdmConector.Id)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.SdmConector.Identificador)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.StatusType)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function ExibirModal(id, nome) {
            $(".modal").modal();
        }
    </script>
}

